:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --body-fg: white;
  --card-bg: #111;
  --card-border: #222;
  --carg-box-shadow: rgb(0 0 0 / 60%);
  --carg-box-shadow-hover: rgb(255 255 255 / 40%);
  --title-shadow: black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --body-fg: #333;
    --card-bg: #eee;
    --card-border: #ddd;
    --carg-box-shadow: rgb(255 255 255 / 40%);
    --carg-box-shadow-hover: rgb(0 0 0 / 60%);
    --title-shadow: #ccc;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.grid {
  display: grid;
  /* grid-auto-rows: auto; */
  gap: 3rem 5rem;
}
@media (min-width: 500px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 700px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.game-card {
  position: relative;
  margin-bottom: 4rem;
}
.game-anchor {
  width: 9rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  border: 2px solid var(--card-border);
  border-radius: 2rem;
  background: var(--card-bg);
  transition: 400ms box-shadow;
  box-shadow: 0 0 20px -5px var(--carg-box-shadow);
}
.game-anchor:focus,
.game-anchor:hover {
  box-shadow: 0 0 20px -5px var(--carg-box-shadow-hover);
}
.game-emoji {
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}
.game-emoji::before {
  content: attr(data-emoji);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}
.game-title {
  position: absolute;
  top: 100%;
  left: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 2px 2px 2px var(--title-shadow);
}
.refresh-button {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:link,
a:visited,
a:hover,
a:active {
  color: var(--body-fg);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
